---
layout: default
title: Apuntes Programación de Servicios y Procesos.
---
<h1>Programación de Servicios y Procesos</h1>  
<ol>
    <blockquote>
        Este módulo profesional contiene parte de la formación necesaria para desempeñar la
función de desarrollo de aplicaciones seguras en red. La función de desarrollo de aplicaciones seguras en red incluye aspectos como:
        <ul>
            <li>
                La utilización de las capacidades ofrecidas por el sistema operativo para la gestión
de procesos e hilos.
            </li>
            <li>
                La programación de aplicaciones compuestas por varios procesos e hilos.
            </li>
            <li>
                El desarrollo de aplicaciones con capacidades para comunicarse y ofrecer servicios
a través de una red.
            </li>
            <li>
                La utilización de mecanismos de seguridad en el desarrollo de aplicaciones.
            </li>
        </ul>

    </blockquote>
</ol>

</ol>
    <h2>Tema 1 - Introducción</h2>
    <blockquote>
      En esta parte del módulo crearemos el entorno necesario que usaremos durante el resto del curso, 
      así como aprenderemos los conceptos básicos que nos servirán para empezar a familiarizarnos con el término
       <strong>Programación de Servicios y Procesos</strong>
    </blockquote>

<ol class='portada'> 
  {% for post in site.posts reversed %}
    {% if post.categories contains "tema1" %}
      <li><h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4></li>
    {% endif %}
{% endfor %}
</ol>

